<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head> -->

  <%- include('./partials/head.ejs',{css:'style'}) %>
  <body>
    <!-- <img src="blurry.svg" alt="" /> -->
    <%- include('./partials/nav.ejs') %>
    <!-- <h1 class="head">SyncU</h1> -->
    <div class="body">
      <div class="container">
        <img src="<%=img%>" class="img" alt="" />
        <div class="content">
          <p class="title"><%=title%></p>
          <p class="description"><%=description%></p>
          <a target="_blank" href="<%=url%>" class="link"
            ><ion-icon name="link-outline"></ion-icon>Go to the Orignal
            Link<ion-icon name="open-outline"></ion-icon
          ></a>
        </div>
      </div>
      <footer>Made By: <a href="https://SyncU.me">SyncU</a></footer>
    </div>
    <script src="/js/nav.js"></script>
  </body>
</html>
